<div class="container container-flex">
  <div class="title-container">
    <h1>Accomplish more than what is on our to-do list with <span class="title">TodoGether</span></h1>
    <%= link_to "start", tasks_path, class: "button-primary button-home" %>
  </div>
  <%= image_tag "todogether_home", class:"img-home"%>
</div>
