nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 60px;
  margin: 6px;
}

.nav-link {
  color: $white;
  margin-right: 16px;
  transition: 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: $light-violet;
  border-bottom: 2px solid $white;
}

.menu {
  display: flex;
}
