// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


/* ---------------- reset css ---------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ---------------- body ---------------*/

body {
  background-color: $bg-dark;
  color: $white;
  font-family: $body-font;
}

/* ---------------- font-family && font-size ---------------*/

h1 {
  font-size: vw;
}

h2 {
  font-family: $headers-font;
}
